# Project exclude paths
/.gradle/
/app/build/
/build/
/macrobenchmark/build/
/output/
/tmp/
/.venv/
/.kotlin/
/server/work/
/server/reports/
/server/vendor/
**/__pycache__/
/app/build/intermediates/javac/debug/classes/
